.container {
  width: 800px;
  border-radius: 15px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-self: center;
  box-shadow: 0px 0px 20px 13px rgb(0 0 0 / 59%);
  transition: all 0.5s;
}

.container:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px 20px rgb(0 0 0 / 51%);
}

.ul {
  margin: 10px 0;
  width: 700px;
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.li {
  width: 100%;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 25px;
}

.check {
  margin: 0 8px;
}

.icon {
  cursor: pointer;
}

.delete:hover {
  color: rgb(168, 105, 105);
}

.check:hover {
  color: rgb(69, 194, 144);
}

@media (max-width: 700px) {
  .container {
    width: 300px;
    padding: 20px;
  }

  .ul {
    width: 300px;
  }

  .li {
    font-size: 20px;
  }
}

@media (max-width: 850px) {
  .container {
    width: 600px;
    padding: 20px;
  }

  .ul {
    width: 600px;
  }

  .li {
    font-size: 20px;
  }
}

@media (max-width: 670px) {
  .container {
    width: 300px;
    padding: 20px;
  }

  .ul {
    width: 300px;
  }

  .li {
    font-size: 20px;
  }
}

.done {
  text-decoration: line-through;
  color: rgb(54, 163, 52);
}
